<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Contact Message</title>
</head>
<body>
  <h1>New Contact Message</h1>
  We have a new contact message on
  the <a href="{{ url }}">{{ url }}</a>.
  <br><br>

  <h3>Preview</h3>

  <div>
    <label>Name:</label>
    <em>{{ object.name }}</em>
  </div>
  <div>
    <label>Email Address:</label>
    <em>{{ object.email }}</em>
  </div>
  <div>
    <label>Description:</label>
    <div>
      <pre>{{ object.content }}</pre>
    </div>
  </div>
  <br><br>
</body>
</html>
